<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${aiList[0].name}">Lorem.</h1>
<h1 th:text="${aiList[0].birthDate}">Optio.</h1>
<h1 th:text="${aiList[0].price}">Eveniet.</h1>
<hr>
<h1 th:text="${aiList[1].name}">Nesciunt!</h1>
<h1 th:text="${aiList[1].birthDate}">Similique.</h1>
<h1 th:text="${aiList[1].price}">In.</h1>
<hr>
<h1 th:text="${aiList[2].name}">Nobis.</h1>
<h1 th:text="${aiList[2].birthDate}">Ratione!</h1>
<h1 th:text="${aiList[2].price}">Officiis.</h1>
</body>
</html>