<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <tweightitle>Title</tweightitle>
</head>
<body>
<h1 th:text="${val.weight}">Lorem.</h1>
<h1 th:text="${val.info}">Voluptates!</h1>
<h1 th:text="${val.studentNumber}">Ex!</h1>
<h1 th:text="${val.married}">Eveniet?</h1>
<h1 th:text="${val}">Possimus!</h1>
<hr>
<h1 th:text="${val['weight']}">Cumque.</h1>
<h1 th:text="${val['info']}">Amet?</h1>
<h1 th:text="${val['studentNumber']}">Necessitatibus.</h1>
<h1 th:text="${val['married']}">Amet.</h1>
<hr>
<h1>Voluptatem!</h1>
<h1>Recusandae?</h1>
<h1>Beatae.</h1>
<h1>Libero!</h1>
<h1>Quae.</h1>
<h1>Nihil.</h1>
<h1>Cum?</h1>
<h1>Doloribus?</h1>
<h1>Nisi.</h1>
<h1>Similique.</h1>
<h1>Totam?</h1>
</body>
</html>