<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${list}">Lorem.</h1>
<h1 th:text="${list[0]}">Cumque.</h1>
<h1 th:text="${list[1]}">Id?</h1>
<h1 th:text="${list[2]}">Earum.</h1>
<h1>Illum!</h1>
<h1>Quibusdam.</h1>
<h1>Dolorum.</h1>
<h1>Commodi.</h1>
<h1>Voluptatem.</h1>
<h1>Ducimus.</h1>
<h1>Sequi?</h1>
<h1>Ipsa.</h1>
<h1>Nobis!</h1>
<h1>Amet?</h1>
<h1>Nihil?</h1>
<h1>Error!</h1>
<h1>Recusandae?</h1>
<h1>Tenetur.</h1>
<h1>Eius.</h1>
<h1>At!</h1>
</body>
</html>